Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@EunPyoLee 
github
/
gitignore
3.2k
121k67.2k
Code
Pull requests
297
Actions
Security
Insights
gitignore/Global/Xcode.gitignore
@Coeur
Coeur Partial revert of 837181e (#3132)
Latest commit 9df8aa6 on Jul 23, 2019
 History
 8 contributors
@Coeur@arcresu@justinhartman@JimRoepcke@izuzak@fidmor89@3lvis@bbodenmiller
26 lines (22 sloc)  523 Bytes
  
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Gcc Patch
/*.gcno
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
